<div id="ezplatform-page-block-{{ block_id }}" class="block-tag {{ block_class }}">
    NOUVEAU BLOC TRAITEMENT PHP
    {{ new_parameter }}
    {{ texte|raw }}
    <style type="text/css">{{ block_style|raw }}</style>
</div>